p {
  line-height: 1.2em;
  margin: 1em 0;
}
ul {
  margin: 1em;
  padding: 0 0 0 2.4em;
}
ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding: 0 0 0 3em;
}

.heading-one, .h-1 { font-size: 2em; }
.heading-two, .h-2 { font-size: 1.75em; }
.heading-three, .h-3 { font-size: 1.5em }
.heading-four, .h-4 { font-size: 1.25em }

.bold, .strong { font-weight: bold; }
.italic, .em { font-style: italic; }

.serif { font-family: palatino, 'palatino linotype', Georgia, 'Times New Roman', Times, serif; }
.sans-serif { font-family: 'helvetica neue', helvetica, arial, verdana, sans-serif; }

.text-align-center, .t-a-c { text-align: center; }

.padding-all, .p-a { padding: 1em; }
.padding-top, .p-t { padding-top: 1em; }
.padding-right, .p-r { padding-right: 1em; }
.padding-bottom, .p-b { padding-bottom: 1em; }
.padding-left, .p-l { padding-left: 1em; }

.float-left, .fl-l { float: left; }
.float-right, .fl-r { float: right; }

.width-50, .w-50 { width: 50%; }

.clear { clear: both; }

.border-bottom, .b-b { border-bottom: 1px solid #000; }
.border-top, .b-t { border-top: 1px solid #000; }

#zlrecipe-title { padding-bottom: 0.5em; }

.meta {
  font-size: 0.85em;
  font-weight: bold;
}
.meta span { font-weight: normal; }

#zlrecipe-rating .rating {
  background: url('http://www.openclipart.org/image/90px/svg_to_png/5-Star_rating_system_PCAR_01.png') no-repeat scroll 0 0;
  display: inline-block;
  height: 15px;
  text-indent: -9999px;
  width: 90px;
}
#zlrecipe-rating .rating-5 { background-position: 0 -3px; }

#zlrecipe-ingredients-list, #zlrecipe-instructions-list { line-height: 1.5em; }

#zlrecipe-ingredients-list li {
  list-style-type: none;
}
#zlrecipe-instructions-list { margin: 0 0.5em; }

.img-desc-wrap {
  background-color: #efefef;
  padding-top: 1px;
}

.zl-linkback { font-size: 0.9em; color: #aaa; margin-top: 4em; }

